<!DOCTYPE html>
<html>
<head>
    <title>Localização da Denúncia</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body { margin: 0; }
        #map { height: 100vh; }
    </style>
</head>
<body>

<div id="map"></div>

<script>

var localizacao = "{{ dado[2] }}";

if (localizacao && localizacao.includes(',')) {

    let coords = localizacao.split(',');

    var map = L.map('map').setView([coords[0], coords[1]], 16);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

    L.marker([coords[0], coords[1]])
        .addTo(map)
        .bindPopup(`
            <b>{{ dado[0] }}</b><br>
            {{ dado[1] }}
        `)
        .openPopup();
}

</script>

</body>
</html>